/*101 - Style a responsive table*/

@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";

html, body {
	background-color: #FFF8C6;
  color: #444;
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

table {
  margin: 1em 0;
  min-width: 300px;
  background: #607D8B;
  color: #fff;
  border-radius: .2em;
  overflow: hidden;
}

tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #46637f;
}

th {
  display: none;
  text-align: left;
  margin: .5em 1em;
  color: #dd5;
}

@media (min-width: 480px) {
  th {
    display: table-cell;
    padding: 1em;
  }
  th:first-child {
    padding-left: 0;
  }
  th:last-child {
    padding-right: 0;
  }
}

td:before {
  color: #dd5;
}

td {
  display: block;
  text-align: left;
  margin: .5em 1em;
}

td:first-child {
  padding-top: .5em;
}

td:last-child {
  padding-bottom: .5em;
}

td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
  color: #dd5;
}

@media (min-width: 480px) {
  td:before {
    display: none;
  }
	td {
    display: table-cell;
    padding: 1em;
  }
	 td:first-child {
    padding-left: 0;
  }
	td:last-child {
    padding-right: 0;
  }
}

.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

main {
  flex: 1;
}



